body{
    color: #fff;
}

#form-container{
    width:400px;
    margin:0 auto;
    margin-top:10%;
    
}

#log-forms{
    background-color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    
}

#form-container h2{
    width: 38%;
    padding-bottom: 10px;
    background: rgb(206, 24, 24);
    text-align: center;  
}


#pass, a {
    text-align: center;
    color: #fff;
}

#pass :hover{
    color: rgb(206, 24, 24);
}

input[type=text],input[type=email], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    
}

input[type=submit] {
    background-color: rgb(206, 24, 24);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    text-transform: uppercase;
}
input[type=submit]:hover {
    background-color: white;
    color: rgb(206, 24, 24);
    border: 1px solid rgb(206, 24, 24);;
}