*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: #ffffff;
}

.main-div{
    background-color: black;
    padding: 3rem;
    width: 700px;
}

.tabs{
    display: flex;
}

.tab{
    flex: 1;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    transition: background 300ms;
    border: 1px solid rgb(206, 24, 24);
}

.tab:hover{
    background-color: black;
    color: rgb(206, 24, 24);
    border: 1px solid rgb(206, 24, 24);

}

.tab:nth-child(1){
    border-radius: 25px 0 0 25px;
}

.tab:nth-child(2){
    border-radius: 0 25px 25px 0;
}

.active{
    background-color: rgb(206, 24, 24);
}

.form-div{
    display: none;
}

.current{
    display: block;
}

.form-div h2{
    text-align: center;
    color: #fff;
    padding: 1rem 0;
}

















input[type=text],input[type=email], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border: none;
    outline: none;
    
}

input[type=submit] {
    background-color: rgb(206, 24, 24);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    text-transform: uppercase;
}
input[type=submit]:hover {
    background-color: white;
    color: rgb(206, 24, 24);
    border: 1px solid rgb(206, 24, 24);
}

input:focus{
    border: none;
    outline: none;
}